<mat-nav-list>
    <a mat-list-item
        (click)="onClose('home')">
        <mat-icon aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"></mat-icon>
    </a>
    <a mat-list-item
        *ngIf="!(afAuth.currentUser)"
        (click)="onClose('log-in')">
        log in
    </a>

    <a mat-list-item
        *ngIf="!(afAuth.currentUser)"
        (click)="onClose('sign-up')">
        sign up
    </a>
    <a mat-list-item
        (click)="onClose('search')">
        <mat-icon>search</mat-icon>
    </a>
    <a mat-list-item
        (click)="onClose('admin')">
        admin
    </a>
    <a mat-list-item
        (click)="onClose('test')">
        test
    </a>
    <a mat-list-item
        *ngIf="afAuth.currentUser"
        (click)="onClose('sign-out')">
        sign out
    </a>
</mat-nav-list>
