<main class="component-container">
    <div class="posts">
        <app-posts *ngIf="!(isLoading$|async)"></app-posts>
        <div class="spinner"
            *ngIf="isLoading$|async">

            <mat-spinner></mat-spinner>
            <div class="message">fetching posts</div>
        </div>
    </div>


    <div class="add-post">
        <app-add-post *ngIf="addPostVisible">
        </app-add-post>
        <button mat-raised-button
            color="primary"
            (click)="onToggleAddHorn()">{{addPostVisible ? 'hide add post':'show add post'}}
        </button>
    </div>


</main>
