<main [class.post-by-current-user]="ownsPost">
    <!-- <div class="owner-id">{{foundPostDateToAny.ownerId}}</div>
    <div class="current-user-id">
        {{afAuth.currentUser.uid}}
    </div> -->
    <div class="date-posted">
        <span>date posted:</span>
        <span>{{foundPostDateToAny.datePosted.toDate()|date:'short'}}</span>
    </div>
    <div class="post">
        <div class="dop">
            <span>dat of purchase:</span>
            <span>{{foundPostDateToAny.dateOfPurchase.toDate()|date}}</span>
        </div>
        <div class="comment">
            <span>comment:</span>
            <span>{{foundPostDateToAny.comment}}</span>
        </div>
    </div>
</main>
