main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    .horn-fields {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        .horn-property {
            padding: 0.3rem;
            border: 1px solid gray;
            background-color: wheat;
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5rem;
        }
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
.mat-success {
    background-color: green !important;
    color: #fff !important;
}
