<main>
    <div class="buttons">
        <button mat-raised-button
            color="primary"
            class="brand"
            (click)="onSelectBrand()">select brand</button>
        <button mat-raised-button
            *ngIf="this.brand"
            color="primary"
            class="saxType"
            (click)="onSelectSaxType()">select type</button>
        <button mat-raised-button
            *ngIf="this.brand && this.saxType"
            color="primary"
            class="serial-number"
            (click)="onAddSerialNumber()">add serial number</button>
        <button mat-raised-button
            *ngIf="this.brand && this.saxType && this.serialNumber && this.serialNumber!='' "
            color="primary"
            class="dop"
            (click)="onAddDateOfPurchase()">select date of purchase</button>
        <button mat-raised-button
            *ngIf="this.brand && this.saxType && this.serialNumber && this.serialNumber!='' && this.dateOfPurchase"
            color="primary"
            class="comment"
            (click)="onAddComment()">add comment</button>
    </div>


    <div class="right">
        <div class="header">post</div>
        <div class="brand-name horn-property"><span>brand</span>
            <!-- {{(selectedBrand$|async)?.name}} -->
            {{(addHornState$|async).brand?.name}}
        </div>
        <div class="sax-type horn-property"><span>type</span>
            <!-- {{(selectedSaxType$|async)?.name}} -->
            {{(addHornState$|async).saxType?.name}}
        </div>
        <div class="serial-number horn-property"><span>serial number</span>
            {{(addHornState$|async).serialNumber}}
            <!-- {{(serialNumber$|async)}} -->
        </div>
        <div class="dat-of-purchase horn-property"><span>dop</span>
            <!-- {{dateOfPurchase$|async|date}} -->
            {{(addHornState$|async).dateOfPurchase|date}}
        </div>
        <div class="comment horn-property"><span>comment</span>
            <!-- {{comment$|async}} -->
            {{(addHornState$|async).comment}}
        </div>
        <div class="buttons">
            <button [disabled]="postInComplete"
                class="add-post"
                mat-raised-button
                (click)="onAddPost()"
                color="primary">add post</button>
            <button mat-raised-button
                class="clear-post"
                (click)="onClearPostFromStore()">clear (post from store)</button>
        </div>
    </div>
    <!-- <pre>
        {{addHornState$|async|json}}
    </pre> -->
</main>
