mat-expansion-panel {
    border: 1px solid black;
    // background-color: wheat;
    mat-expansion-panel-header {
        mat-panel-title {
            display: grid;
            // justify-content: space-between;
            grid-template-columns: 1fr auto;
            // border: 2px solid red;
        }
        // background-color: wheat;
        // border: 1px solid black;
        // mat-panel-title {
        // display: grid;
        // grid-template-columns: 1fr auto;
        // justify-content: space-between;
        // .date-posted {
        //     display: grid;
        //     grid-template-columns: 1fr auto;
        //     border: 2px solid red;

        .date-posted-left {
            // background-color: green;
            // display: grid;
            // grid-template-columns: auto 1fr;
        }
        .delete {
        }
        // }
        // }
    }
    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        .field {
            border: 2px solid green;
            display: grid;
            grid-template-columns: 1fr auto;
            .field-content {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}

.isOwnedByUser {
    background-color: wheat;
}
