<div class="post">
    <!-- <div class="post-id"><span>post id:</span>{{postDateToAny.id}}</div>
    <div class="date-posted"><span>date posted:</span>{{postDateToAny.datePosted.toDate()|date}}</div>
    <div class="dop"><span>date of purcahse:</span>{{postDateToAny.dateOfPurchase.toDate()|date}}</div>
    <div class="comment"><span>comment:</span>{{post.comment}}</div> -->
</div>
<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="date-posted"><span>date posted:</span>{{postDateToAny.datePosted.toDate()|date}}</div>
        </mat-panel-title>
        <!-- <mat-panel-description>
            This is a summary of the content
        </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="post-id"><span>post id:</span>{{postDateToAny.id}}</div>
    <!-- <div class="date-posted"><span>date posted:</span>{{postDateToAny.datePosted.toDate()|date}}</div> -->
    <div class="dop"><span>date of purcahse:</span>{{postDateToAny.dateOfPurchase.toDate()|date}}</div>
    <div class="comment"><span>comment:</span>{{post.comment}}</div>
</mat-expansion-panel>
