<mat-expansion-panel hideToggle
    expanded="true"
    [class.isOwnedByUser]="ownsPost">
    <mat-expansion-panel-header>


        <mat-panel-title>
            <div class="date-posted-left">
                <span>date posted:</span>
                <span>
                    {{postDateToAny.datePosted.toDate()|date|date:'short'}}
                </span>
            </div>
            <button class="delete"
                *ngIf="ownsPost"
                mat-mini-fab
                color="warn"
                (click)="onDeletePost()">
                <mat-icon aria-hidden="false"
                    aria-label="Example delete icon"
                    fontIcon="delete"></mat-icon>
            </button>

        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content">

        <!-- <div class="post-id"><span>post id:</span>{{postDateToAny.id}}</div> -->
        <div class="field dop">
            <div class="field-content">
                <span>date of purchase:</span>
                <span>{{postDateToAny.dateOfPurchase.toDate()|date}}</span>
            </div>
            <button *ngIf="ownsPost"
                mat-mini-fab
                color="primary"
                (click)="onEditDateOfPurchase()">
                <mat-icon aria-hidden="false"
                    aria-label="Example delete icon"
                    fontIcon="edit"></mat-icon>
            </button>
        </div>
        <div class="field comment">
            <div class="field-content">
                <span>comment:</span>
                <span>{{post.comment}}</span>
            </div>
            <button *ngIf="ownsPost"
                mat-mini-fab
                color="primary"
                (click)="onEditComment()">
                <mat-icon aria-hidden="false"
                    aria-label="Example delete icon"
                    fontIcon="edit"></mat-icon>
            </button>
        </div>
    </div>

</mat-expansion-panel>
