<form *ngIf="!(isLoading$|async)"
    [formGroup]="form">
    <div class="login-buttons">
        <button (click)="signUpAsJackoboesGmail()">jackoboes gmail</button>
        <button (click)="signUpAsJackoSchoonderwoerdYahoo()">jackos choonderwoerd yahoo</button>

    </div>

    <mat-label>user name</mat-label>
    <mat-form-field>
        <input matInput
            formControlName="userName"
            type="text">
    </mat-form-field>

    <mat-label>email</mat-label>
    <mat-form-field>
        <input matInput
            formControlName="email"
            type="email">
    </mat-form-field>

    <mat-label>password</mat-label>
    <mat-form-field>
        <input matInput
            formControlName="password"
            type="password">
    </mat-form-field>

    <button mat-raised-button
        [disabled]="form.invalid"
        color="primary"
        (click)="onSignup()">sign up</button>
    <p>or</p>
    <button class="google-signup"
        type="button"
        mat-raised-button
        (click)="onLogInWithGoogle()">log in with google</button>
    <mat-spinner *ngIf="isLoading$|async"></mat-spinner>
</form>
