// mat-sidenav-content,
mat-sidenav-container,
mat-sidenav {
    height: 100%;
}
mat-sidenav-content {
    display: grid;
    grid-template-rows: 4rem auto 3rem;
    app-header {
        position: fixed;
        z-index: 1;
        width: 100%;
    }
    main {
        margin: 4rem auto 4rem;
        // margin-bottom: 3rem;
        width: 90%;
        .filler {
            height: 3rem;
        }
    }
    app-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
