<!-- <div class="arrays-of-posts-length"><span>arrays of posts-by-serial length (by current user):</span>
    {{arraysOfPosts.length}}
</div> -->
<ul class="posts-by-serial-list">
    <li class="posts-by-serial-list-item">
        <app-posts-by-serial *ngFor="let posts of arraysOfPosts$|async"
            [posts]="posts">
        </app-posts-by-serial>
    </li>
</ul>
<!-- <ul class="posts-list">
    <li class="posts-list-item"
        *ngFor="let posts of arraysOfPosts$|async">
        <div class="saxophone-properties">
            <div class="posts-length">
                <span>posts length (for this serial number): {{posts.length}}</span>
            </div>
            <div class="saxophone-property"><span>brand:</span>{{posts[0].saxophone.brand.name}}</div>
            <div class="saxophone-property"><span>type:</span>{{posts[0].saxophone.saxType.name}}</div>
            <div class="saxophone-property"><span>serial number:</span>{{posts[0].saxophone.serialNumber}}</div>
            <ul class="posts-by-serialnumber-list">
                <li class="posts-by-serialnumber-list-item"
                    *ngFor="let post of posts">
                    <div class="post-content">
                        <div class="post-id"><span>post id:</span>{{post.id}}</div>
                        <div class="date-posted"><span>date posted:</span>{{post.datePosted.toDate()|date}}</div>
                        <div class="dop"><span>date of purcahse:</span>{{post.dateOfPurchase.toDate()|date}}</div>
                        <div class="comment"><span>comment:</span>{{post.comment}}</div>
                    </div>
                    <div class="buttons">
                        <button mat-fab
                            (click)="onDeletePost(post)">
                            <mat-icon aria-hidden="false"
                                aria-label="Example home icon"
                                fontIcon="delete"></mat-icon>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul> -->
