<main>

    <form [formGroup]="serialNumberForm">
        <mat-form-field>
            <mat-label>enter serial number</mat-label>
            <input formControlName="serialNumber"
                type="text"
                matInput>
        </mat-form-field>
        <button class="confirm-serial-number"
            mat-raised-button
            color="primary"
            (click)="onConfirmSerialNumber()">
            confirm serial number
        </button>
        <button class="cancel"
            mat-raised-button
            (click)="onCancel()">cancel</button>
    </form>
</main>
