main {
    padding: 1rem;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;

    .user {
        margin: auto;
        max-width: 25rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        border: 1px solid black;
        .display-name {
            // border: 1px solid red;
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr auto;
            align-items: center;
            // border: 1px solid black;
            height: 3rem;
            .name {
                display: grid;
                grid-template-columns: 8rem auto;
            }
            // align-items: center;
            button: {
                // top: 20px;
            }
        }
        .email,
        .email-verified {
            height: 3rem;
            display: grid;
            grid-template-columns: 8rem auto;
            align-items: center;
        }
    }
}
.horn-user {
    word-wrap: break-word;
}
.user-data {
    word-wrap: break-word;
}
