main {
    padding: 1rem;
    .posts-list {
        display: grid;
        grid-template-columns: 1fr;

        background-color: lightgray;
        .post {
            .date-posted {
                display: grid;
                grid-template-columns: 9rem 1fr 3rem;
            }
            padding: 1rem;
            border: 1px solid black;
            // background-color: wheat;
            .saxophone > div {
                display: grid;
                grid-template-columns: 9rem 1fr;
            }
            .post-content > div {
                display: grid;
                grid-template-columns: 9rem 1fr 3rem;
            }
        }
    }
}

.ownes-post {
    background-color: wheat;
}
.hide {
    display: none;
}
