<main [class.hide]="(posts$|async|json).length < 3">
    <div class="posts-list">
        <div *ngFor="let post of (posts$|async); index as i">
            <app-post [post]="post"
                [index]="i"></app-post>
            <!-- <div class="post"
                [class.ownes-post]="post.ownerId === afAuth.currentUser.uid">
                <div class="date-posted">
                    <span>date posted:</span>
                    <span>{{post.datePosted.toDate()|date}}</span>
                    <button mat-mini-fab
                        *ngIf="post.ownerId === afAuth.currentUser.uid"
                        (click)="onDeletePost(post)"
                        color="warn">
                        <mat-icon aria-hidden="false"
                            aria-label="Example home icon"
                            fontIcon="delete"></mat-icon>
                    </button>
                </div>
                <div class="saxophone"
                    *ngIf="i === 0">

                    <div class="saxophone-property brand">
                        <span>brand:</span>
                        <span>{{post.saxophone.brand.name}}</span>
                    </div>
                    <div class="saxophone-property sax-type">
                        <span>type:</span>
                        <span>{{post.saxophone.saxType.name}}</span>
                    </div>

                    <div class="saxophone-property serial-number"><span>serial number:</span>
                        <span>{{post.saxophone.serialNumber}}</span>
                    </div>
                </div>
                <div class="post-content">
                    <div class="owner-id">
                        <span>owner id:</span>
                        <span>{{post.ownerId}}</span>
                    </div>
                    <div class="post-id">
                        <span>post id:</span>
                        <span>{{post.id}}</span>

                    </div>
                    <div class="comment">
                        <span>comment:</span>
                        <span>{{post.comment}}</span>
                        <button mat-mini-fab
                            *ngIf="post.ownerId === afAuth.currentUser.uid"
                            (click)="onEditComment(post)"
                            color="primary">
                            <mat-icon aria-hidden="false"
                                aria-label="Example home icon"
                                fontIcon="edit"></mat-icon>
                        </button>

                    </div>
                    <div class="date-of-purchase">
                        <span>date of purchase:</span>
                        <span>{{post.dateOfPurchase.toDate()|date}}</span>

                    </div>
                </div>
            </div> -->
        </div>
    </div>
</main>
