<main>
    <div class="saxophone-properties"
        *ngIf="index === 0">
        <div class="left">
            <div class="name-type">
                <div>{{post.saxophone.brand.name}}</div>
                <div>{{post.saxophone.saxType.name}}</div>
            </div>
            <div>{{post.saxophone.serialNumber}}</div>
        </div>
        <div class="right">
            <button class="add-post"
                mat-mini-fab
                color="primary"
                (click)="onAddPostToThisSaxophone()">
                <mat-icon aria-hidden="false"
                    aria-label="Example delete icon"
                    fontIcon="add"></mat-icon>
            </button>
        </div>
    </div>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{postDateToAny.datePosted.toDate()|date}}
                <!-- <div class="posted-by">posted by:</div>
                <div class="display-name">{{afAuth.currentUser.displayName}}</div> -->
                <!-- <div class="date">{{postDateToAny.datePosted.toDate()|date}}</div> -->
            </mat-panel-title>
            <mat-panel-description>
                <div class="posted">
                    <!-- <div class="posted-by">posted by:</div> -->
                    <div class="display-name">{{afAuth.currentUser.displayName}}</div>
                </div>

                <button class="delete"
                    mat-mini-fab
                    color="warn"
                    (click)="onDeletePost($event)">
                    <mat-icon aria-hidden="false"
                        aria-label="Example delete icon"
                        fontIcon="delete"></mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="post-content">
            <div class="owner-id">
                <span>owner id:</span>
                <span class="id">{{post.ownerId}}</span>
            </div>
            <div class="post-id">
                <span>post id:</span>
                <span class="id">{{post.id}}</span>

            </div>
            <div class="comment">
                <div class="comment-content">
                    <div>comment:</div>
                    <div>{{post.comment}}</div>
                </div>
                <button mat-mini-fab
                    *ngIf=" afAuth.currentUser && post.ownerId === afAuth.currentUser.uid"
                    (click)="onEditComment($event)"
                    color="primary">
                    <mat-icon aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="edit"></mat-icon>
                </button>

            </div>
            <div class="date-of-purchase"
                *ngIf="postDateToAny.dateOfPurchase">
                <span>date of purchase:</span>
                <span>{{postDateToAny.dateOfPurchase.toDate()|date}}</span>

            </div>
        </div>
    </mat-expansion-panel>
</main>
