main {
    background-color: wheat;

    .saxophone-properties {
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 1rem;
        .name-type {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1rem;
        }
    }
    mat-expansion-panel {
        mat-expansion-panel-header {
            mat-panel-title {
                // min-width: 7rem;
                // display: grid;
                // grid-template-columns: 1fr 1fr auto;
                border: 1px solid green;
                .date {
                    // position: absolute;
                    // top: 50%;
                    border: 1px solid blue;
                }
            }
            mat-panel-description {
                // border: 1px solid blue;
                // display: grid;
                // grid-template-columns: auto 1fr;
                // justify-content: right;
                display: flex;
                justify-content: space-between;
                .posted {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .posted-by {
                        border: 1px solid red;
                    }
                    .display-name {
                        border: 1px solid black;
                    }
                }
            }
        }
        .post-content {
            background-color: wheat;
            padding: 1rem;
            .owner-id {
                .id {
                    color: red;
                    overflow-wrap: break-word;
                }
            }
            .post-id {
                .id {
                    overflow-wrap: break-word;
                    color: blue;
                }
            }
            .comment {
                display: grid;
                grid-template-columns: auto 3rem;
                // justify-content: center;
                border: 1px solid black;
                align-items: center;
            }
        }
    }
}
